packages/pipeline-eds/pipeline_eds-0.3.83-py3-none-any.whl/pipeline/nodered/flows/api/sample_grok.json
[
        {
                "id": "rjn_flow",
                "type": "tab",
                "label": "RJN Client",
                "disabled": false,
                "info": "",
                "env": []
        },
        {
                "id": "login_node",
                "type": "http request",
                "z": "rjn_flow",
                "name": "Login to RJN",
                "method": "POST",
                "ret": "obj",
                "paytoqs": "ignore",
                "url": "",
                "tls": "",
                "persist": false,
                "proxy": "",
                "insecureHTTPParser": false,
                "authType": "",
                "senderr": false,
                "headers": [
                        {
                                "keyType": "Content-Type",
                                "keyValue": "application/json",
                                "valueType": "application/json"
                        }
                ],
                "x": 570,
                "y": 160,
                "wires": [
                        [
                                "set_token"
                        ]
                ]
        },
        {
                "id": "set_token",
                "type": "function",
                "z": "rjn_flow",
                "name": "Set Bearer Token",
                "func": "// Extract token from login response\nif (msg.payload && msg.payload.token) {\n    msg.headers = { 'Authorization': 'Bearer ' + msg.payload.token };\n    node.status({fill:\"green\",shape:\"dot\",text:\"Token set\"});\n    return msg;\n} else {\n    node.error(\"No token in response\", msg);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Login failed\"});\n    return null;\n}",
                "outputs": 1,
                "timeout": 0,
                "noerr": 0,
                "initialize": "",
                "finalize": "",
                "libs": [],
                "x": 780,
                "y": 160,
                "wires": [
                        []
                ]
        },
        {
                "id": "send_data_node",
                "type": "http request",
                "z": "rjn_flow",
                "name": "Send Data to RJN",
                "method": "POST",
                "ret": "txt",
                "paytoqs": "params",
                "url": "",
                "tls": "",
                "persist": false,
                "proxy": "",
                "insecureHTTPParser": false,
                "authType": "",
                "senderr": false,
                "headers": [],
                "x": 730,
                "y": 300,
                "wires": [
                        [
                                "check_send_success"
                        ]
                ]
        },
        {
                "id": "check_send_success",
                "type": "switch",
                "z": "rjn_flow",
                "name": "Check Success",
                "property": "statusCode",
                "propertyType": "msg",
                "rules": [
                        {
                                "t": "lt",
                                "v": "300",
                                "vt": "num"
                        }
                ],
                "checkall": "true",
                "repair": false,
                "outputs": 1,
                "x": 950,
                "y": 300,
                "wires": [
                        [
                                "success_output"
                        ]
                ]
        },
        {
                "id": "success_output",
                "type": "debug",
                "z": "rjn_flow",
                "name": "Send Success",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 1160,
                "y": 300,
                "wires": []
        },
        {
                "id": "prepare_body",
                "type": "function",
                "z": "rjn_flow",
                "name": "Prepare Body & Params",
                "func": "// Input: msg.payload = {timestamps: [...], values: [...], project_id, entity_id}\n// Validate\nlet ts = msg.payload.timestamps;\nlet vals = msg.payload.values;\nif (!ts || !vals) {\n    throw new Error('timestamps or values cannot be null');\n}\nif (!Array.isArray(ts) || !Array.isArray(vals)) {\n    throw new Error('timestamps and values must be arrays');\n}\nif (ts.length !== vals.length) {\n    throw new Error(`Length mismatch: ${ts.length} vs ${vals.length}`);\n}\n// Format timestamps (simplified TimeManager)\nlet tsStr = ts.map(t => new Date(Number(t)).toISOString());\n// Zip data\nlet dataMap = {};\nfor (let i = 0; i < tsStr.length; i++) {\n    dataMap[tsStr[i]] = vals[i];\n}\nmsg.payload = {\n    comments: 'Imported from EDS.',\n    data: dataMap\n};\nmsg.url = `${msg.payload.base_url || flow.get('base_url')}/projects/${msg.payload.project_id}/entities/${msg.payload.entity_id}/data`;\ndelete msg.payload.base_url; // Clean up\nmsg.params = {\n    interval: 300,\n    import_mode: 'OverwriteExistingData',\n    incoming_time: 'DST'\n};\nmsg.headers = msg.headers || {}; // Preserve auth from login\nnode.status({fill:\"blue\",shape:\"ring\",text:`Sending ${ts.length} points`});\nreturn msg;",
                "outputs": 1,
                "timeout": 0,
                "noerr": 0,
                "initialize": "",
                "finalize": "",
                "libs": [],
                "x": 500,
                "y": 300,
                "wires": [
                        [
                                "send_data_node"
                        ]
                ]
        },
        {
                "id": "ping_node",
                "type": "http request",
                "z": "rjn_flow",
                "name": "Ping RJN",
                "method": "GET",
                "ret": "txt",
                "paytoqs": "ignore",
                "url": "",
                "tls": "",
                "persist": false,
                "proxy": "",
                "insecureHTTPParser": false,
                "authType": "",
                "senderr": false,
                "headers": [],
                "x": 370,
                "y": 440,
                "wires": [
                        [
                                "ping_debug"
                        ]
                ]
        },
        {
                "id": "ping_debug",
                "type": "debug",
                "z": "rjn_flow",
                "name": "Ping Response",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "true",
                "targetType": "full",
                "statusVal": "",
                "statusType": "auto",
                "x": 570,
                "y": 440,
                "wires": []
        },
        {
                "id": "load_secrets",
                "type": "inject",
                "z": "rjn_flow",
                "name": "Load Secrets (Demo)",
                "props": [
                        {
                                "p": "payload"
                        }
                ],
                "repeat": "",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "x": 170,
                "y": 160,
                "wires": [
                        [
                                "set_login_url"
                        ]
                ]
        },
        {
                "id": "set_login_url",
                "type": "function",
                "z": "rjn_flow",
                "name": "Set Login URL & Data",
                "func": "// Demo secrets (replace with env or file)\nlet secrets = {\n    contractor_apis: {\n        RJN: {\n            url: 'https://your-rjn-api.com', // Replace\n            client_id: 'your_client_id',\n            password: 'your_password'\n        }\n    }\n};\nlet rjn = secrets.contractor_apis.RJN;\nmsg.url = rjn.url + '/auth';\nmsg.payload = {\n    client_id: rjn.client_id,\n    password: rjn.password,\n    type: 'script'\n};\nflow.set('base_url', rjn.url.replace('/auth', ''));\nnode.warn('Logging in to RJN...');\nreturn msg;",
                "outputs": 1,
                "timeout": 0,
                "noerr": 0,
                "initialize": "",
                "finalize": "",
                "libs": [],
                "x": 380,
                "y": 160,
                "wires": [
                        [
                                "login_node"
                        ]
                ]
        },
        {
                "id": "demo_ping_trigger",
                "type": "inject",
                "z": "rjn_flow",
                "name": "Trigger Demo Ping",
                "props": [
                        {
                                "p": "payload"
                        }
                ],
                "repeat": "",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "x": 190,
                "y": 440,
                "wires": [
                        [
                                "set_ping_url"
                        ]
                ]
        },
        {
                "id": "set_ping_url",
                "type": "change",
                "z": "rjn_flow",
                "name": "Set Ping URL",
                "rules": [
                        {
                                "t": "set",
                                "p": "url",
                                "pt": "msg",
                                "to": "base_url",
                                "tot": "flow"
                        }
                ],
                "action": "",
                "property": "",
                "from": "",
                "to": "",
                "reg": false,
                "x": 410,
                "y": 440,
                "wires": [
                        [
                                "ping_node"
                        ]
                ]
        },
        {
                "id": "catch_errors",
                "type": "catch",
                "z": "rjn_flow",
                "name": "Catch HTTP Errors",
                "scope": null,
                "uncaught": false,
                "x": 300,
                "y": 520,
                "wires": [
                        [
                                "error_handler"
                        ]
                ]
        },
        {
                "id": "error_handler",
                "type": "function",
                "z": "rjn_flow",
                "name": "Handle Error",
                "func": "let err = msg.error;\nif (err.code === 'ENOTFOUND' || err.code === 'ECONNREFUSED') {\n    node.warn('Connection error. Retry next cycle.');\n} else if (err.message.includes('SSL')) {\n    node.warn('SSL verification failed. Retry next cycle.');\n} else {\n    node.error('Unexpected error: ' + err.message, msg);\n}\nnode.status({fill:\"red\",shape:\"ring\",text:err.message});\nreturn { payload: false }; // Equivalent to None/False",
                "outputs": 1,
                "timeout": 0,
                "noerr": 0,
                "initialize": "",
                "finalize": "",
                "libs": [],
                "x": 510,
                "y": 520,
                "wires": [
                        [
                                "error_debug"
                        ]
                ]
        },
        {
                "id": "error_debug",
                "type": "debug",
                "z": "rjn_flow",
                "name": "Error Log",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "error",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 720,
                "y": 520,
                "wires": []
        },
        {
                "id": "info_debug",
                "type": "debug",
                "z": "rjn_flow",
                "name": "Info Log",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 800,
                "y": 80,
                "wires": []
        }
]